@font-face {
  font-family: "Boots And Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Lato", "Arial", Verdana, Geneva, Tahoma, sans-serif;
  color: #0a3641;
  max-width: 1920px;
}

h1,
h2,
.logo {
  font-family: "Lato", "Arial", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 1.4em;
}

header {
  /*Logo, News, Men, Women, Outlet */
  background-color: #fff;
  color: #0a3641;
  text-align: left;
}

.header li {
  /* Header liste */
  flex: 1;
  margin: 0 10px;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  margin-right: 5%;
}

.header a {
  text-decoration: none;
  color: #0a3641;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header nav .right-align a {
  font-size: 1.5em;
  margin: 5px;
}

header nav .right-align li {
  margin-right: 1px;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  header nav {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    width: 100%;
    margin-bottom: 10px;
  }
}

.stripe1 {
  /* Free shipping over $100 */
  color: #fff;
  background-color: #0a3641;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.stripe1,
.hiking_image {
  margin: 0;
  padding: 0;
}

.center1 {
  /* Our most popular jackets */
  text-align: center;
  align-items: center;
  margin-top: 10px;
  font-size: 1.4em;
}

.hiking_image {
  min-width: 450px;
  min-height: 250px;
  background-image: url("../images/Home.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* Start of product choices   */

.jackets {
  color: #fff;
  background-color: #ffffff;
  text-align: center;
  display: flex;
}

.jackets a {
  color: #0a3641;
  text-decoration: none;
}

.jackets p {
  margin-top: -2px;
}
.jackets ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.jackets li {
  margin-right: 20px;
  flex: 1;
}

.jacket-image {
  display: block;
  width: 80vw;
  height: 75%;
}

@media (min-width: 600px) {
  .jackets img {
    width: 100%;
  }
}

.separator-line {
  border: none;
  height: 2px;
  background-color: lightgray;
  margin: 5px 0;
}

.jacket-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.review-stars {
  color: red;
  font-size: 1em;
  margin-top: -25px;
}

.price {
  color: #0a3641;
  font-size: 1em;
}
/* End of product choices   */

.center2 {
  /* Browse all jackets */
  text-align: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: -10px;
  font-size: 1.4em;
}

.center2 a {
  text-decoration: none;
  color: #0a3641;
}

.stripe {
  color: #fff;
  background-color: #0a3641;
  display: flex;
  flex-wrap: wrap;
}

.stripe-column {
  flex: 1;
  min-width: 250px;
}

.stripe-column ul {
  flex: 1;
  margin: 0 5px;
  list-style-type: none;
}

.stripe-column li {
  display: flex;
  align-items: center;
}

.stripe-column li i {
  font-size: 40px;
  margin-right: 15px;
}

.footer_image_big {
  min-width: 450px;
  min-height: 250px;
  position: relative;
  width: 100%;
}

.background-image {
  max-height: 550px;
  min-width: 450px;
  min-height: 250px;
  width: 100%;
  height: auto;
  display: block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-text {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 50%;
  text-align: center;
  font-family: "Lato", "Arial", Tahoma;
  font-style: oblique;
}

footer {
  background-color: #0a3641;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

footer nav .right-align a {
  font-size: 1.5em;
}

footer a {
  color: #fff;
}

footer nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  margin-right: 30px;
}

footer nav ul li:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  footer nav {
    flex-direction: column;
    align-items: flex-start;
  }

  footer nav ul {
    width: 100%;
    margin-bottom: 10px;
  }

  footer nav ul li {
    margin-right: 10px;
  }
}

/* Product page */

.product-img {
  border: 1px solid #0a3641;
  margin: 5px;
  position: relative;
  width: fit-content;
  padding: 15px;
}

.jacket-image {
  display: block;
  max-width: 100%;
}

.magnify-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

.product-info {
  color: #0a3641;
  text-align: left;
}

/* Dropdown menu */

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu li {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdown-menu li:hover > .submenu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px;
}

.submenu a {
  background-color: #0a3641;
  color: #fff;
}

.dropdown-menu a:hover {
  background-color: #7d99a0;
}
