@font-face {
  font-family: "Boots And Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Lato", "Arial", Verdana, Geneva, Tahoma, sans-serif;
  color: #0a3641;
  font-size: 18px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
.logo {
  font-family: "Lato", "Arial", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 1.4em;
}

header {
  background-color: #fff;
  color: #0a3641;
  text-align: left;
}

.header li {
  margin: 0 10px;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #0a3641;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header nav ul {
  padding: 0;
  margin: 0;

  justify-content: space-between;
}

header nav .right-align a {
  font-size: 1.5em;
  margin: 5px;
}

header nav .right-align li {
  margin-right: 1px;
}

header nav ul.right-align {
  justify-content: flex-end;
}

header nav ul li {
  list-style: none;
}

@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
  header nav ul:first-child {
    justify-content: center;
    margin-bottom: 10px;
  }
}

header nav ul,
header nav ul.right-align {
  justify-content: center;
  flex-wrap: wrap;
}

header nav ul:not(:first-child) {

  justify-content: right;
}

a.active {
  text-decoration: underline;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.4em;
  font-weight: bold;
}

  /* Free shipping over $100 */
  .stripe1 {
  color: #fff;
  background-color: #0a3641;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.stripe1,
.hiking_image {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

/* Index */


  /* Our most popular jackets */
  .center1 h1{
  text-align: center;
  align-items: center;
  margin-top: 20px;
  font-size: 1.4em;
}


.hiking_image {
  min-height: 250px;
  background-image: url("../images/Home.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


/* Our most popular jackets */
.stripe {
  color: #fff;
  background-color: #0a3641;
  display: flex;
  flex-wrap: wrap;
}

.center2 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 20px;
}
.center2 a {
  text-decoration: none;
  color: #0a3641;
}

.stripe-column {
  flex: 1;
  min-width: 250px;
}

.stripe-column ul {
  flex: 1;
  margin: 0 5px;
  list-style-type: none;
}

.stripe-column li {
  display: flex;
  align-items: center;
}

.stripe-column li i {
  font-size: 40px;
  margin-right: 15px;
}


.background-image {
  max-height: 550px;
  width: 100%;
  height: auto;
  display: block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.background-image-big {
  max-height: 550px;

  min-height: 250px;
  width: 100%;
  height: auto;
  display: block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-text {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 50%;
  text-align: center;
  font-family: "Lato", "Arial", Tahoma;
  font-style: oblique;
  color: #fff;
}

/* Footer */

footer {
  background-color: #0a3641;
  margin-top: auto;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

footer nav .right-align a {
  font-size: 1.5em;
}

footer a {
  color: #fff;
}

footer nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  margin-right: 30px;
}



@media (max-width: 600px) {
  footer nav {
    flex-direction: column;
    align-items: flex-start;
  }

  footer nav ul {
    width: 100%;
    margin-bottom: 1rem;
    display: inline;  
    text-align: center;
  }

  footer nav ul li {
    margin-bottom: 1.5rem;
  }

  .stripe-column li {
   display: inline;
  }
}

nav ul.left-align li a {
  text-decoration: none;
}

nav ul.left-align li a.active {
  text-decoration: underline;
}
.footer_image_big {
  position: relative; 
  height: 250px; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.footer_image_big img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  object-position: center; 
}

.overlay-text {
  position: absolute;
  bottom: 0%;
  left: 4%;
  color: white;
  z-index: 1;
}

@media (max-width: 768px) {
  .footer_image_big {
    height: 150px;
  }

  .footer_image_big img {
    height: 150px; 
  }

  .overlay-text {
    font-size: 0.8rem;
}
}

/* Product page */

.image-container {
  border: 1px solid #0a3641;
  margin: 5px;
  position: relative;
  width: fit-content;
  padding: 20px;
  border-radius: 3%;
}

.jacket-image {
  display: block;
  max-width: 100%;
}

.jacket-info {
  color: #0a3641;
  text-align: left;
}

.product-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.image-container {
  flex: 1;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.dropdown-menu li {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 30%;
}

.add-to-cart-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px; 
}

.dropdown-menu a, .add-to-cart-btn, .add-to-favorites-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a3641;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.add-to-favorites-btn {
  width: 40px; 
  padding: 13px; 
  cursor: pointer;
}

.dropdown-menu a:hover, .add-to-cart-btn:hover {
  background-color: #7d99a0;
}

.add-to-favorites-btn:hover {
  background-color: #7d99a0;
}

.add-cart {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.cart-product-controls button {
  background-color: #0a3641;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-product-controls button:hover {
  background-color: #2e5f6b;
}


.info-box {
  background-color: #0a3641;
  color: #fff;
  margin-top: 10px;
  padding: 5px 5px;
}

.info-box li {
  list-style: none;
}

.jacket-info {
  margin-left: 20px;
  flex: 1;
}

.info-text {
  margin-bottom: 40px;
  margin-left: 10px;
}

.image-container {
  max-width: 600px;
  min-width: 100px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }
}

.jacket-image {
  max-width: 600px;

  width: 100%;
}


/* Favorites */

.favorites-box {
  color: #0a3641;
  background-color: #7d99a0;
  border-radius: 4%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.favorite-product-image {
  width: 150px;
  height: auto;
  margin-right: 15px;
}

.favorite-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.favorite-product-details {
  flex-grow: 2;
  padding: 0 10px;
  text-align: left;
}

.product-link {
  text-decoration: none; 
  color: inherit; 
}

.remove-favorite {
  background-color: #0a3641; 
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorite-product .remove-favorite:hover {
  background-color: #2e5f6b; 
}

.custom-popup {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  background-color: #0a3641;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.custom-popup.show {
  opacity: 1;
}

.custom-popup.hidden {
  display: none;
}


/*About us */

.split-box {
  display: flex;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.left-side,
.right-side {
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.left-side {
  background-color: #7d99a0;
  color: #0a3641;
  padding: 15px;
  flex-direction: column;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.right-side {
  background-image: url("../images/About.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .split-box {
    min-height: auto;
    flex-direction: column;
  }
}

/* Contact us */

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  gap: 20px;
}

.split-box-hori {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.split-box-hori,
.contact-form-box {
  flex: 1;
  max-width: 500px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7d99a0;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
}

.top-split,
.bottom-split {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}

.top-split p {
  margin-bottom: 20px;
}

.top-split {
  background-color: #7d99a0;
  color: #0a3641;
  padding: 15px;
}

.bottom-split {
  background-image: url("../images/Contact.jpg");
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
}

@media screen and (max-width: 768px) {
  .split-box-hori {
    min-height: auto;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .split-box-hori,
  .contact-form-box {
    width: 100%;
    max-width: none;
    margin: 20px 0;
  }
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  max-width: 900px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-top: -1px;
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid #0a3641;
  border-radius: 4px;
}

.contact-form
  input[type="text"]
  .contact-form
  input[type="email"]
  .contact-form
  textarea {
  padding: 8px;
  border: 1px solid #0a3641;
  border-radius: 4px;
}

.contact-form input[type="submit"] {
  background-color: #0a3641;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4%;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #0d4553;
}

.contact-form label {
  display: block;
}

/* Checkout successfull */

.success-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  gap: 20px;
  font-size: 16px;
}

.success-box-hori {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.success-box-hori {
  flex: 1;
  max-width: 1800px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #7d99a0;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
}

.success-split {
  background-image: url("../images/Checkout.jpg");
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
}

.top-success-split,
.success-split {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}
.top-success-split p {
  margin-bottom: 20px;
}

.top-success-split {
  background-color: #7d99a0;
  color: #0a3641;
  padding: 15px;
}

/* Shopping cart */

.shoppingcart-box {
  color: #0a3641;
  background-color: #7d99a0;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
}

.shoppingcart-container {
  display: flex;
  flex-direction: column;
  text-align: right; 
}

.shopping-cart-buttons .button {
  background-color: #0a3641;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
  cursor: pointer;
  text-align: center;
}

.shopping-cart-buttons .button:hover {
  background-color: #0d4553;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

.cart-product-image {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.cart-product-details {
  flex-grow: 2;
  padding: 0 10px;
  text-align: left; 
}

.cart-product-details .product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-product-details .cart-product-controls {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}



.product-price {
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  min-width: 80px;
}

.cart-shipping-summary,
.cart-total-summary,
.cart-summary-details .product-price {
    text-align: right;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cart-total-summary {
    font-weight: bold;
}

.cart-summary-details {
    display: flex;
    justify-content: space-between;
}

.cart-summary-details p {
    margin: 0;
}

.product-price {
    margin-left: auto;
    font-weight: bold;
}

.cart-total {
  font-weight: bold;
}

/* Checkout */

.separator-line2 {
  background-color: #0a3641;
  width: 50%;
  border: none;
  height: 1px;
  text-align: left;
  margin-left: 0;
}

form {
  max-width: 600px;
  margin: auto;
}

form fieldset {
  margin-bottom: 20px;
}

form label,
form input,
form select {
  display: block;
}

.form-row {
  display: flex;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  flex: 1;
}

.form-row .form-col:last-child {
  margin-right: 0;
}

.form-row input {
  flex: 1;
  margin: 0 5px;
}

form input[type="radio"] {
  margin-top: 0;
  width: auto;
}

form input[type="text"] {
  margin-top: 0;
  width: auto;
  font-size: 16px;
}

.landcode {
  font-size: 16px;
}

form label[for="bring"],
form label[for="postnord"],
form label[for="helthjem"],
form label[for="paypal"],
form label[for="vipps"],
form label[for="invoice"] {
  display: flex;
  align-items: center;
  margin-left: 22px;
  margin-top: 5px;
  line-height: -1;
  vertical-align: middle;
}

.checkout-buttons .button {
  background-color: #0a3641;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.checkout-buttons .button:hover {
  background-color: #0d4553;
}

.checkout-buttons {
  text-align: center;
}

.checkout-title h2 {
  text-align: center;
  margin-bottom: 10px;
}

.checkout {
  background-color: #c3ced1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.separator-line3 {
  background-color: #336470;
  width: 100%;
  border: none;
  height: 2px;
  text-align: left;
  margin-left: 0;
}
@media screen and (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }

  .form-row input,
  .form-row select {
    width: 100%;
    margin: 5px 0;
  }
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.checkout-form-container {
  flex: 2;
  background-color: #c3ced1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-summary-container {
  flex: 1;
  background-color: #7d99a0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 600px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
  }

  .cart-summary-container {
    margin-top: 20px;
  }
}


/* Additional styling for the cart summary */
.cart-summary-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-summary-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
}

.cart-summary-image {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.cart-summary-details {
  flex-grow: 1;
  text-align: left;
}

.cart-summary-details p {
  margin: 0;
  font-size: 0.9em;
}

/* Newsletter */

.newsletter {
  background-color: #c3ced1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.submit-button-newsletter {
  text-align: center;
}

.submit-button-newsletter input[type="submit"] .newsletter form label,
.newsletter form input,
.newsletter form select {
  display: inline-block;
}

/* Sizes */

.regular-img {
  width: 100%;
}

/* Javascript products */

.jackets {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center; 
}

.product-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.product-column ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.product-name {
  font-size: 1.2em;
  margin: 10px 0;
  color: #0d4553;
}

.product-price {
  font-size: 1.1em;
  color: #0d4553;
}

.separator-line {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin: 10px 0;
  width: 100%;
}

.submenu {
  display: none;
}

.submenu.open {
  display: block;
}

/* Stil for valgt størrelse */
.selected {
  font-weight: bold;
  color: #0d4553;
}

.selected-size {
  font-weight: bold;
}

.product-card a {
  text-decoration: none; 
  color: inherit; 
}


/* Loading indicator */
.loading {
  display: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #0d4553;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 20px auto; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: red;
  background-color: #fdd;
  border: 1px solid #d00;
  padding: 1rem;
  margin: 10px 0;

}

.shipping-info, .size-chart {
  background-color: #7d99a0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

a:hover {
  font-weight: bold;
  transition: 0.1s;
}

.size-table {
  margin-left: 10px;
}

