@font-face {
  font-family: "Boots And Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Lato", "Arial", Verdana, Geneva, Tahoma, sans-serif;
  color: #0a3641;
  max-width: 1920px;
}

h1,
h2,
.logo {
  font-family: "Lato", "Arial", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 1.4em;
}

header {
  /*Logo, News, Men, Women, Outlet */
  background-color: #fff;
  color: #0a3641;
  text-align: left;
}

.header li {
  /* Header liste */
  flex: 1;
  margin: 0 10px;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  margin-right: 5%;
}

.header a {
  text-decoration: none;
  color: #0a3641;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

header nav .right-align a {
  font-size: 1.5em;
  margin: 5px;
}

header nav .right-align li {
  margin-right: 1px;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  header nav {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    width: 100%;
    margin-bottom: 10px;
  }
}

.stripe1 {
  /* Free shipping over $100 */
  color: #fff;
  background-color: #0a3641;
  text-align: center;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.stripe1,
.hiking_image {
  margin: 0;
  padding: 0;
}

.center1 {
  /* Our most popular jackets */
  text-align: center;
  align-items: center;
  margin-top: 10px;
  font-size: 1.4em;
}

.hiking_image {
  min-width: 450px;
  min-height: 250px;
  background-image: url("../images/Home.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

/* Start of product choices   */

.jackets {
  color: #fff;
  background-color: #ffffff;
  text-align: center;
  display: flex;
}

.jackets a {
  color: #0a3641;
  text-decoration: none;
}

.jackets p {
  margin-top: -2px;
}
.jackets ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.jackets li {
  margin-right: 20px;
  flex: 1;
}

.jacket-image {
  display: block;
  width: 80vw;
  height: 75%;
}

@media (min-width: 100px) {
  .jackets img {
    width: 100%;
  }
}

.separator-line {
  border: none;
  height: 2px;
  background-color: lightgray;
  margin: 5px 0;
}

.jacket-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.review-stars {
  color: red;
  font-size: 1em;
  margin-top: -25px;
}

.price {
  color: #0a3641;
  font-size: 1em;
}
/* End of product choices   */

.center2 {
  /* Browse all jackets */
  text-align: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: -10px;
  font-size: 1.4em;
}

.center2 a {
  text-decoration: none;
  color: #0a3641;
}

.stripe {
  color: #fff;
  background-color: #0a3641;
  display: flex;
  flex-wrap: wrap;
}

.stripe-column {
  flex: 1;
  min-width: 250px;
}

.stripe-column ul {
  flex: 1;
  margin: 0 5px;
  list-style-type: none;
}

.stripe-column li {
  display: flex;
  align-items: center;
}

.stripe-column li i {
  font-size: 40px;
  margin-right: 15px;
}

.footer_image_big {
  min-width: 450px;
  min-height: 250px;
  position: relative;
  width: 100%;
}

.background-image {
  max-height: 550px;
  min-width: 450px;
  min-height: 250px;
  width: 100%;
  height: auto;
  display: block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-text {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 50%;
  text-align: center;
  font-family: "Lato", "Arial", Tahoma;
  font-style: oblique;
}

footer {
  background-color: #0a3641;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

footer nav .right-align a {
  font-size: 1.5em;
}

footer a {
  color: #fff;
}

footer nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  margin-right: 30px;
}

footer nav ul li:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  footer nav {
    flex-direction: column;
    align-items: flex-start;
  }

  footer nav ul {
    width: 100%;
    margin-bottom: 10px;
  }

  footer nav ul li {
    margin-right: 10px;
  }
}

/* Product page */

.image-container {
  border: 1px solid #0a3641;
  margin: 5px;
  position: relative;
  width: fit-content;
  padding: 20px;
  border-radius: 3%;
}

.jacket-image {
  display: block;
  max-width: 100%;
}

.magnify-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

.jacket-info {
  color: #0a3641;
  text-align: left;
}

.product-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.image-container {
  flex: 1;
}

/* Dropdown menu */

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.dropdown-menu li {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 30%;
}

.dropdown-menu li:hover > .submenu {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #7d99a0;
  width: 40%;
}

.dropdown-menu i.fas.fa-chevron-down {
  color: #0a3641;
  margin-left: 25%;
  font-size: 20px;
}

.submenu a {
  background-color: #0a3641;
  color: #fff;
}

.dropdown-menu a:hover {
  background-color: #7d99a0;
}

.add-to-cart-btn {
  display: inline-block;
  background-color: #0a3641;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  width: 25%;
}

.favorite-btn {
  display: inline-block;
  background-color: #0a3641;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  margin-right: 5%;
  font-size: 16px;
  text-align: center;
  width: 9%;
}

.favorite.btn i {
  vertical-align: middle;
}

.info-box {
  background-color: #0a3641;
  color: #fff;
  margin-top: 10px;
  padding: 5px 5px;
}

.info-box li {
  list-style: none;
}

.jacket-info {
  margin-left: 20px;
  flex: 1;
}

.info-text {
  margin-bottom: 40px;
  margin-left: 10px;
}

.image-container {
  max-width: 600px;
  min-width: 100px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }

  .image-container,
  .jacket-info {
    width: 100%;
  }
}

.jacket-image {
  max-width: 600px;
  height: auto;
  width: 100%;
}

/*About us */

.split-box {
  display: flex;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.left-side,
.right-side {
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.left-side {
  background-color: #7d99a0;
  color: #0a3641;
  padding: 15px;
  flex-direction: column;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.right-side {
  background-image: url("../images/About.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .split-box {
    min-height: auto;
    flex-direction: column;
  }
}

/* Contact us */

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  gap: 20px;
}

.split-box-hori {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.split-box-hori,
.contact-form-box {
  flex: 1;
  max-width: 500px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7d99a0;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
}

.top-split,
.bottom-split {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}

.top-split p {
  margin-bottom: 20px;
}

.top-split {
  background-color: #7d99a0;
  color: #0a3641;
  padding: 15px;
}

.bottom-split {
  background-image: url("../images/Contact.jpg");
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
}

@media screen and (max-width: 768px) {
  .split-box-hori {
    min-height: auto;
  }
}

.contact-info {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 60%;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  max-width: 900px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-top: -1px;
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid #0a3641;
  border-radius: 4px;
}

.contact-form
  input[type="text"]
  .contact-form
  input[type="email"]
  .contact-form
  textarea {
  padding: 8px;
  border: 1px solid #0a3641;
  border-radius: 4px;
}

.contact-form input[type="submit"] {
  background-color: #0a3641;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4%;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  background-color: #0d4553;
}

.contact-form label {
  display: block;
}

/* Checkout successfull */

.success-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  gap: 20px;
}

.success-box-hori {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.success-box-hori {
  flex: 1;
  max-width: 1800px;
  height: 600px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #7d99a0;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  overflow: hidden;
  width: 100%;
}

.success-split {
  background-image: url("../images/Checkout.jpg");
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
}

.top-success-split,
.success-split {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}
.top-success-split p {
  margin-bottom: 20px;
}

.top-success-split {
  background-color: #7d99a0;
  color: #0a3641;
  padding: 15px;
}

/* Shopping cart */

.shoppingcart-box {
  color: #0a3641;
  background-color: #7d99a0;
  border-radius: 4%;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shoppingcart-box h2 {
  margin-bottom: 20px;
}

.shoppingcart-container {
  display: flex;
  border-radius: 4%;
  align-items: start;
  justify-content: space-between;
}

.cart-product-image {
  flex: 0 0 20%;
  min-width: 150px;
}

.cart-product-image img {
  width: 100%;
  height: auto;
}

.cart-product-details {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-product-info {
  text-align: left;
  padding: 20px;
}

.cart-amount {
  text-align: right;
}

.shopping-cart-buttons .button {
  background-color: #0a3641;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
}

.shopping-cart-buttons .button:hover {
  background-color: #0d4553;
}

/* Checkout */

.separator-line2 {
  background-color: #0a3641;
  width: 50%;
  border: none;
  height: 1px;
  text-align: left;
  margin-left: 0;
}

form {
  max-width: 600px;
  margin: auto;
}

form fieldset {
  margin-bottom: 20px;
}

form label,
form input,
form select {
  display: block;
}

.form-row {
  display: flex;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  flex: 1;
}

.form-row .form-col:last-child {
  margin-right: 0;
}

.form-row input {
  flex: 1;
  margin: 0 5px;
}

form input[type="radio"] {
  margin-top: 0;
  width: auto;
}

form input[type="text"] {
  margin-top: 0;
  width: auto;
  font-size: 16px;
}

.landcode {
  font-size: 16px;
}

form label[for="bring"],
form label[for="postnord"],
form label[for="helthjem"],
form label[for="paypal"],
form label[for="vipps"],
form label[for="invoice"] {
  display: block;
  margin-left: 22px;
  margin-top: 5px;
}

.checkout-buttons .button {
  background-color: #0a3641;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
}

.checkout-buttons .button:hover {
  background-color: #0d4553;
}
